header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.gear-list-container {
  height: 70vh;
  width: 30vw;
  text-align: center;
  background-color: rgb(50, 50, 58);
}